<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/send-mail" method="post">
    <input type="text" name="to" placeholder="send to">
    <br>
    <br>
    <input type="text" name="subject" placeholder="write subject....">
    <br>
    <br>
    <textarea name="message" placeholder="write amessage...."></textarea>
    <br>
    <br>
    <input type="submit" value="send">
  </form>
</body>
</html>